<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd"
		default-init-method="init" default-destroy-method="clean">
  
  <bean id="SortApp" class="com.kcorner.spring.sort.SortApp">
      <constructor-arg index="0" value="bubbleSort"/>    
  </bean>
       
  <bean id="bubbleSort" class="com.kcorner.spring.sort.BubbleSort"  autowire="byName" />
      
  		  <bean id="datalist" class="com.kcorner.spring.sort.DataList">
		    <constructor-arg index="0" value="12"/>
		    <constructor-arg index="1" value="50"/>
		  </bean>
  
  
  <bean id="selectionSort" class="com.kcorner.spring.sort.SelectionSort">
	<property name="datalist" ref="data-02"/>
  </bean> 
  
  		  <bean id="data-02" class="com.kcorner.spring.sort.DataList">
		    <constructor-arg index="0" value="20"/>
		    <constructor-arg index="1" value="99"/>
		  </bean>

  <context:annotation-config/> 
    
</beans>
